extends layout

block content
  div(class="container show-case", role="main")
    div.jumbotron
      h1 Hello, #{login_username}!
      p OOPARTSGames는 한양대 게임개발동아리 OOPARTS에서 만든 HTML기반 게임 플레이용 홈페이지입니다.
