doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery-confirm.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-latest.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/placeholder.js')
    script(type='text/javascript', src='/javascripts/jquery-confirm.min.js')
    script(type='text/javascript').
      function about_confirm(){
        $.confirm({
          title: 'About',
          backgroundDismiss: true,
          content: 'Copyright(c)2016 OOPARTS All rights reserved.',
          confirmButtonClass: 'btn-info',
          cancelButton: false
        });
      }
      function contact_confirm(){
        $.confirm({
          title: 'Contact',
          backgroundDismiss: true,
          content: 'Please email to ooparts@ooparts.ooparts',
          confirmButtonClass: 'btn-info',
          cancelButton: false
        });
      }
  body
    nav(class="navbar navbar-inverse navbar-fixed-top")
      div.container
        div.navbar-header
          button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand", href="#") OOpartsGames
        div(id="navbar", class="navbar-collapse collapse")
          ul(class="nav navbar-nav")
            li(class="active")
              a(href="#") Home
            if login_username
              li
                a(href="#gamelobby" onclick="about_confirm();") Gamelobby
              li
                a(href="#newgame" onclick="contact_confirm();") New Game
              li
                a(href="#myinfo" onclick="contact_confirm();") My Info
          ul(class="nav navbar-nav navbar-right")
            if login_username
              li
                a(href="/signout") Signout 
            li
              a(href="#about" onclick="about_confirm();") About
            li
              a(href="#contact" onclick="contact_confirm();") Contact

    block content
