extends layout

block content
  script(type='text/javascript', src='/javascripts/CryptoJS/sha512.js')

  form#slick-form.signup(method='POST', action='/signup')
    label(for="username")
      username
    input.slick-form-fit(type="text", name="username", class="placeholder", placeholder="New username", value=(pre_username ? "#{pre_username}" : ''), required)
    label(for="password")
      password
    input.slick-form-fit(type="password", name="password", class="placeholder", placeholder="New password", required, autofocus)
    input.slick-form-fit(type="password", name="password2", class="placeholder", placeholder="New password confirmation", required)
    input.slick-form-fit(type="text", name="description", class="placeholder", placeholder="New self description" value=(pre_description ? "#{pre_description}" : ""))
    button#input-submit.slick-form-green-btn Sign up
    script(type='text/javascript' src='/javascripts/signup.js')

  if signup_failed
    script(type='text/javascript').
      $.alert({
        title: 'Sign up failed',
        content: "#{signup_failed_reason}",
        confirmButtonClass: 'btn-info'
      });

