extends layout

block content
  script(type='text/javascript', src='/javascripts/CryptoJS/sha512.js')
   
  form#slick-form.signin(method='POST', action='/signin')
    label(for="username").
      username
    input.slick-form-fit(type="text", name="username", class="placeholder", placeholder="username" value=(pre_username ? "#{pre_username}" : ""), required, autofocus)

    label(for="password").
      password
    input.slick-form-fit(type="password", name="password", class="placeholder", placeholder="password", required)
    button#input-submit.slick-form-blue-btn Sign in
    
  if signin_failed
    script(type='text/javascript').
      $.alert({
        title: 'Sign in failed',
        content: 'Password is not correct!',
        confirmButtonClass: 'btn-info'
      });
  script(type='text/javascript', src='/javascripts/signin.js')
