extends layout

block content
  script(type='text/javascript', src='/javascripts/sha512.js')

  form#slick-login(method='POST', action='/signup')
    label(for="username")
      username
    input(type="text", name="username", class="placeholder", placeholder="New username" value=(pre_username ? "#{pre_username}" : ''))
    label(for="password")
      password
    input(type="password", name="password", class="placeholder", placeholder="New password")
    input(type="password", name="password2", class="placeholder", placeholder="New password confirmation")
    input(type="text", name="description", class="placeholder", placeholder="New self description" value=(pre_description ? "#{pre_description}" : ""))
    button#input-signup Sign up
    script(type='text/javascript' src='/javascripts/signup.js')

  if signup_failed
    script(type='text/javascript').
      $.alert({
        title: 'Sign up failed',
        content: "#{signup_failed_reason}",
        confirmButtonClass: 'btn-info'
      });

