extends layout

block content
  script(type='text/javascript', src='/javascripts/sha512.js')
   
  form#slick-login(method='POST', action='/signin')
    label(for="username").
      username
    input(type="text", name="username", class="placeholder", placeholder="username" value=(pre_username ? "#{pre_username}" : ""))

    label(for="password").
      password
    input(type="password", name="password", class="placeholder", placeholder="password")
    button#input-signin Sign in
    
  if signin_failed
    script(type='text/javascript').
      $.alert({
        title: 'Sign in failed',
        content: 'Password is not correct!',
        confirmButtonClass: 'btn-info'
      });
  script(type='text/javascript', src='/javascripts/signin.js')
