extends ../layout

block content
  script(type='text/javascript', src='/javascripts/phaser/phaser.min.js')
  script(type='text/javascript', src='/javascripts/primus.js')
  #game-area-div(role="main")
  script(type='text/javascript', src='/games/omok/inherit.js')
  script(type='text/javascript', src='/games/omok/img.js')
  script(type='text/javascript', src='/games/omok/sprite.js')
  script(type='text/javascript', src='/games/omok/text.js')
  script(type='text/javascript', src='/games/omok/layer.js')
  script(type='text/javascript', src='/games/omok/phase.js')
  script(type='text/javascript', src='/games/omok/gamephase.js')
  script(type='text/javascript', src='/games/omok/manager.js')
  script(type='text/javascript', src='/games/omok/main.js')
